.sidebar {
    width: 250px;
    max-width: 250px;
    height: 100vh;
    /* Full height */
    position: fixed;
    /* Fixed position */
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    /* Light background color */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    overflow-y: auto;
    /* Scrollable content */
}

mat-nav-list {
    padding: 0;
}

mat-list-item {
    padding: 10px 20px;
}